.lista-produtos {
    height: calc(100% - 250px);
    overflow: auto;
    margin-inline: 20px;
}

.footer-cart {
    margin-top: 20px;
    padding-inline: 20px;
    border-top: 2px solid #e7e7e7;
}

.footer-cart-value {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
}